<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-title>
        <div no-padding text-left>
          <span ion-text color="primary">Location Information</span>
        </div>
      </ion-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <address>
          121, Clear Water Bay Road <br>
          Clear Water Bay, Kowloon <br>
          HONG KONG <br>
        </address>
        <ion-icon name="call"></ion-icon>: +852 1234 5678 <br>
        <ion-icon name="print"></ion-icon>: +852 8765 4321 <br>
        <ion-icon name="mail"></ion-icon>: confusion@food.net <br>
      </ion-list>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="call"></ion-icon>
          <div>Call</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small (click)="sendEmail()">
          <ion-icon name="mail"></ion-icon>
          <div>Email</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>