<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar color="primary-pale">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="commetsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label color="primary" floating>Your Name</ion-label>
      <ion-input  formControlName="author"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Your Rating</ion-label>
      <ion-range min="1" max="5" step="1" snaps="true" formControlName="rating">
        <ion-icon range-left name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" stacked>Your Comment</ion-label>
      <ion-textarea rows="12" formControlName="comment"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="!commetsForm.valid">Submit</button>
  </form>
</ion-content>
